
  
<%@product.each do |product|%>
 
    <h1> Category Name: <%= product.category.category_name %></h1>

    <p> Products Details:   <%= product.product_details %></p>
    
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= button_to 'Remove', product_path(product), method: :delete %>

<%end%>

